.App {
    text-align: center;
    background-color: #ffffff;
}


.App-header {
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}


.text-center {
  text-align: center;
}

.display-inline {
  display: inline-block;
}


.quote {
    position: relative;
    font-family: 'Sanchez', serif;
    font-style: italic;
    font-size: 30px;
    text-align: left;
    display: block;
    margin-left: auto;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

.biography.jumbotron {
    background-color: #FAFAFA;
}

.color-grey {
    background-color: #FAFAFA;
}
.color-grey.jumbotron {
    background-color: #FAFAFA;
}

.biography p {
    font-size: calc(15px);
    letter-spacing: 0.05em;
}

.biography h2 {
    font-size: calc(17px);
    letter-spacing: 0.05em;
}

.navigation-bar {
    font-size: calc(10px + 1vmin);
    height: 6vmin;
    margin-bottom: 2vmin;
    background-color: #FAFAFA;
}


.navigation-bar .logo {
    width: 5vmin;
    height: 5vmin;
}

.pdf-embed-container {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 0vmin;
    padding-bottom: 1066px;
    background: red;
    max-width: 826px;
    height: 0;
}

.pdf-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-responsive-pdf {
    padding-top: 129%;
    max-width: 826px;
    max-height: 1066px;
}


.download-button {
    position: absolute;
    top: 0; /* position the top  edge of the element at the middle of the parent */
    left: 95%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, 50%);
}

.codewindow {
    text-align: left;
    width: 100%;
}